<not-found>
  <div class="container">
    <h1>Page Not Found 👀</h1>
    <sl-button
      href="/"
      size="large"
      variant="neutral"
      pill
    >
      Back Home
    </sl-button>
  </div>

  <style>
    .container {
      padding: 4rem;
      text-align: center;
    }

    h1 {
      margin-bottom: 2rem;
    }

    sl-button::part(base) {
      border: none;
      padding: 0.5rem 1.5rem;
    }
  </style>
</not-found>