<not-found>
  <div class="container">
    <h1>Page not found</h1>
    <p>Go back to <a href='/'>home</a></p>
  </div>

  <style>
    .container {
      padding: 4rem;
      display: grid;
      gap: 2rem;
    }
    h1 {
      margin-top: 6rem;
    }
  </style>
</not-found>