<raw>
  <script>
    import { sanitizeHtml } from '@/utils/sanitize';

    export default {
      setInnerHTML() {
        this.root.innerHTML = sanitizeHtml(this.props.html ?? '');
      },
      onMounted() {
        this.setInnerHTML();
      },
      onUpdated() {
        this.setInnerHTML();
      },
    };
  </script>
</raw>
